// Todo: treba da iskonfigurisemo vscode/prettier da identation bude 2 spaces

.container {
  background-color: grey;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: darkslategrey;
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.button {
  width: 300px;
  font-size: 24px;
}

// Todo: pre svakog pr-a potrebno je da prodjes kroz ceo kod koji prilazes i obrises sve sto je ostalo kao visak

@media screen and (min-width: 486px) {
}
